{% extends 'layout.html' %}

{% block title %}
    Mission Board
{% endblock %}

{% block content %}
    <section>
    <h1>Mission Board</h1>

    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{% url 'posts:page' slug=post.slug %}">
                {{ post.title }}
            </h2>
            <p>{{ post.date }} by {{ post.author }}</p>
            <p>{{ post.body }}</p>
            <p>{{ post.platform }} || {{ post.playstyle }}</p>
        </article>
    {% endfor %}
    </section>



{% endblock %}